# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Original video not use
projects/*/*_demo_10s.mp4

# Notes not needed on the website
CLAUDE.md
README.md
projects/*/Info.txt
projects/*/display_name.txt
about/
